{#
PONIŻEJ KOD Z HTML
ZAWARTOŚĆ data-prototype

CZYLI UKRYTY FORMULARZ W SMIENNEJ CZEKAJĄCY NA WYWOŁANIE PRZEZ JAVASCRIPT
#}

<div id="genus_form_genusScientists"
     data-prototype="
     <div class=&quot;form-group col-xs-4&quot;>
         <div id=&quot;genus_form_genusScientists___name__&quot;>
             <div class=&quot;form-group &quot;>
                 <label class=&quot;control-label required&quot; for=&quot;genus_form_genusScientists___name___user&quot;>User</label>
                 <select id=&quot;genus_form_genusScientists___name___user&quot; name=&quot;genus_form[genusScientists][__name__][user]&quot; required=&quot;required&quot; class=&quot;form-control&quot;><option value=&quot;&quot; selected=&quot;selected&quot;>Choose</option>
                     <option value=&quot;11&quot;>aquanaut1@example.org</option>
                     <option value=&quot;12&quot;>aquanaut2@example.org</option>
                     <option value=&quot;17&quot;>aquanaut7@example.org</option>
                 </select>
             </div>
             <div class=&quot;form-group &quot;>
                <label class=&quot;control-label required&quot; for=&quot;genus_form_genusScientists___name___yearsStudied&quot;>Years studied</label>
                <input type=&quot;text&quot; id=&quot;genus_form_genusScientists___name___yearsStudied&quot; name=&quot;genus_form[genusScientists][__name__][yearsStudied]&quot; required=&quot;required&quot; class=&quot;form-control&quot; />
             </div>
         </div>
     </div>">
     <div class="form-group col-xs-4"><div id="genus_form_genusScientists_0">
         <div class="form-group ">
             <label class="control-label required" for="genus_form_genusScientists_0_user">User</label>
             <select id="genus_form_genusScientists_0_user" name="genus_form[genusScientists][0][user]" required="required" class="form-control">
                 <option value="">Choose</option>
                 <option value="12">aquanaut2@example.org</option>
                 <option value="13" selected="selected">aquanaut3@example.org</option>
                 <option value="14">aquanaut4@example.org</option>
             </select>
         </div>
             <div class="form-group ">
                 <label class="control-label required" for="genus_form_genusScientists_2_yearsStudied">Years studied</label>
                 <input type="text" id="genus_form_genusScientists_2_yearsStudied" name="genus_form[genusScientists][2][yearsStudied]" required="required" class="form-control" value="1">
             </div>
         </div>
     </div>
    <div class="form-group col-xs-4"><div id="genus_form_genusScientists_3">
            <div class="form-group ">
                <label class="control-label required" for="genus_form_genusScientists_3_user">User</label>
                <select id="genus_form_genusScientists_3_user" name="genus_form[genusScientists][3][user]" required="required" class="form-control">
                    <option value="">Choose</option>
                    <option value="11">aquanaut1@example.org</option>
                    <option value="12" selected="selected">aquanaut2@example.org</option>
                </select>
            </div>
            <div class="form-group ">
                <label class="control-label required" for="genus_form_genusScientists_6_yearsStudied">Years studied</label>
                <input type="text" id="genus_form_genusScientists_6_yearsStudied" name="genus_form[genusScientists][6][yearsStudied]" required="required" class="form-control" value="22">
            </div>
        </div>
    </div>
</div>